/* MATERIAL OVERRIDE */

:root {
  --mdc-theme-primary: #f75e24;
  --mdc-theme-secondary: #7a7a7a;
}

.mdc-drawer .mdc-list-item--activated {
  color: black;
}

.mdc-drawer .mdc-list-item--activated .mdc-list-item__graphic {
  color: #f75e24;
}

/* CUSTOM */

html {
  overflow: hidden;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #7A7A7A;
  margin: 0;
  padding: 0;
}

a {
  color: #00B7FF;
}

h6 {
  font-family: 'Roboto';
  font-weight: medium;
  font-size: 20px;
  margin: 0;
  margin-bottom: 20px;
}

h5 {
  font-family: 'Roboto';
  font-weight: normal;
  font-size: 20px;
  margin-bottom: 5px;
  margin-top: 15px;
  text-align: center;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

#nav-draw {
  min-height: 100vh;
  float: left;
  background-color: #EBEBEB;
}

#logo-main {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  margin-top: 50px;
}

#login-card {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  margin-top: 100px;
  padding: 16px;
}

#login-field {
  width: 100%;
  margin-bottom: 20px;
}

#chat {
  width: auto;
  overflow: hidden;
  background-color: white;
  min-height: 100vh;
  position: relative;
}

#message-field {
  max-height: 60px;
  width: 98%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#message-div {
  height: 60px;
  width: 100%;
  bottom: 10px;
  right: 15px;
}

#send-bttn {
  right: 23px;
  bottom: 27px;
}